.red{
  color:red;
}
.note{
  display: block;
    text-align: center;
    padding-top: 10px;
}
.form-check{
  width: 120px;
  margin: 0 auto
}
.preview_table{
  width: 95%;
  margin: 0 auto;
}
.preview_table tr{
  border-bottom: solid 1px #e07002;
}
.preview_table th{
     text-align: left;
    background: #f77b018f;
    color: #000;
    padding-left: 10px;
}
.preview_table td{
  padding-left: 10px;
}
.btn-orange{
  color: #fff;
    background: #de7007;
}
.btn-orange:hover{
    color: #de7007;
    background: transparent;
    border: solid #de7007 0.09rem;
}
.header-regis{
  font-size: 26px;
  color: #fff;
  background: #de7007;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  padding-top: 15px;
  padding-bottom:5px;

}
.border-bot{
  border-bottom: solid  #a5a2a2 1px;
  display: block;
  width: 100%;
  padding-top: 10px;
}
body{
  background-color:#f0f0f0
} 
.col-lg-8{
  font-size: 16px;
  background: #fff;

  padding-right: 0;
  padding-left: 0;
  margin-top: 5px;
  border: 1px #b3b3b3 solid;

}
.device-container{
  padding-left: 15px;
  padding-right: 15px;
}
.my-auto{
  margin:  0 auto;
}
.linebox label{
  display:block;
  margin-top: 10px;

}
input.files-upload {
display: block;
  
}
.modal ul {
  list-style-type: none;

}
.modal-header{
  color:#fff;
  background: #de7007;
}
.more-item{
width: 100%;
margin-top: 30px;
position: relative;
display: flex;
}
.more-item a:first-child{
  padding-left: 0;
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid;
}
.more-item a{
  text-decoration: none;
color: inherit;
display: inline-block;
width: 50%;
text-align: left;
padding-left: 20px;
}
.login_form_main{
  content: "";
  display: table;
  width: 100%;
}
.login_form_main:after{
  clear: both;
}
#signin-form .signin-btn{
  float: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    width: 110px;
}
.dbutton:hover{
  background-color: #f37a01;
  color:#fff;
      border-color: hsla(0,0%,100%,.85);
}
.dbutton{
  color: #f37a01;
  background-color: #fff;
  font-weight: bold;
  user-select: none;
  position: relative;
  outline: 0;
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: background-color .4s cubic-bezier(.25,.8,.25,1),border-color .6s cubic-bezier(.25,.8,.25,1);
  -o-transition: background-color .4s cubic-bezier(.25,.8,.25,1),border-color .6s cubic-bezier(.25,.8,.25,1);
  transition: background-color .4s cubic-bezier(.25,.8,.25,1),border-color .6s cubic-bezier(.25,.8,.25,1);
  padding: 0 10px;
  margin: 6px 8px;
  min-width: 88px;
  line-height: 32px;
  min-height: 32px;
  border-width: 2px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-indent: 0px;
  text-shadow: none;
  border-style: none;
  border: solid 0.09rem;
}
.password-cf .input-field .res.Invalid:after, .phone-number .input-field .res.Invalid:after,
.email .input-field .res.Invalid::after
{
  color: red;
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
font-size: 20px;
}
.containner-middle-md{
  margin: 0 auto;
  width: 420px;
  padding-top: 120px;
  position: relative;

}
.sm-banner{
  text-align: center;
}
.sm-banner img{

  height: 150px;
}
.password-cf .input-field .res.Done:after, .phone-number .input-field .res.Done:after,
.email .input-field .res.Done::after
{
  color: limegreen;
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  font-size: 20px;
}

.lf-field.password #res{
  position: relative;
  font-size: 14px;

}
.lf-field.password #res.error{
background-color: #ff3300;
}
.lf-field.password #res.weak{
color: rgba(242, 238, 17, 1);
}
.lf-field.password #res.good{
background-color: rgb(51, 102, 255);
}
.lf-field.password #res.strong{
background-color: limegreen;
}
.lf .input-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color:#a5a2a2;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.lf .input-field input::-moz-placeholder { /* Firefox 19+ */
  color:#a5a2a2;

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.lf .input-field input:-ms-input-placeholder{ /* IE 10+ */
  color:#a5a2a2;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.lf .input-field input:-moz-placeholder{ /* Firefox 18- */
  color:#a5a2a2;

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

 .lf span.material-bar:before, .lf span.material-bar:after{
  background: #de7007;
}
.input-field label, span.material-bar:after, span.material-bar:before{
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}
span.material-bar:before{
  left:50%;
}
span.material-bar:after{
  right:50%;
}
 .input-field label {
    color: #ddd;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 18px;
    line-height: 32px;
}

.input-field label {
    line-height: 32px;
}
.input-field :focus ~ label{
  display: none;
  top: 0;
  line-height: 24px;
}
.material .input-field :focus ~ .material-bar:before, .material .input-field :focus ~ .material-bar:after{
  width: 50%;
}
.material .input-field :focus ~ .material {
  border-spacing: 3px;
}
.material-bar:before,.material-bar:after{
  content: "";
height: 4px;
width: 0;
bottom: 0;
position: absolute;
background: #0000ff;
}
.input-field:after{
  display: block;
    clear: both;
    content: "";
}

   .material-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}
.lf-field{
margin-bottom: 24px;
position: relative;
}
.material
{
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-field{
  position: relative;
  padding-top: 18px;
}
.lf, .input-field{
  background: transparent;
    border-bottom-color: white;
    margin-bottom: 0;
}
.lf .input-field input{
      color:#000;
      height: 32px;
      font-size: 16px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    background: 0;
    float: left;
}
html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus {
    color: #fcbd20; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

section {
  padding: 100px 0; }
  section h2 {
    font-size: 50px; }
  #mainNav .navbar-nav>li>i.fa{
    color: rgba(255,255,255,.7)!important;
  }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #fb851a;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-brand {
    color: #fdcc52;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #fcbd20; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
#mainNav .navbar-nav > li > i{
  margin-top: 10px;
  padding-left: 200px;
  margin-right: 30px;
}
  #mainNav .navbar-nav > li > a,  #mainNav .navbar-nav > li > i {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
    #mainNav .navbar-nav > li > a.active {
      color: #fdcc52 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #fdcc52; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: #fb851a; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #fdcc52; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #fdcc52; }
          }
header.masthead {
  /* position: relative;
  width: 100%;
  height: 100%!important;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background:#f37a01;
  background:-webkit-linear-gradient(to left, #f37a01, #dc2430)!important;
  background:linear-gradient(to left, #f37a01, #dc2430)!important; */
}
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    header.masthead .header-content h1 {
      font-size: 30px; }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.masthead .header-content h1 {
          font-size: 50px; }
      header.masthead .device-container {
        max-width: 325px; }
      }

section.download {
  position: relative;
  padding: 150px 0; }
  section.download h2 {
    font-size: 50px;
    margin-top: 0; }
  section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
    section.download .badges .badge-link:last-child {
      margin-bottom: 0; }
    section.download .badges .badge-link img {
      height: 60px; }
    @media (min-width: 768px) {
      section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    section.download h2 {
      font-size: 70px; } }

section.features .section-heading {
  margin-bottom: 100px; }
  section.features .section-heading h2 {
    margin-top: 0; }
  section.features .section-heading p {
    margin-bottom: 0; }

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto; }

section.features .device-container {
  margin-bottom: 100px; }
  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0; } }

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  section.features .feature-item h3 {
    font-size: 30px; }
  section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

section.cta {
  position: relative;
  padding: 250px 0;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.cta .cta-content {
    position: relative;
    z-index: 1; }
    section.cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      section.cta .cta-content h2 {
        font-size: 80px; } }
  section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

section.contact {
  text-align: center; }
  section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px; }
    section.contact h2 i {
      color: #dd4b39; }
  section.contact ul.list-social {
    margin-bottom: 0; }
    section.contact ul.list-social li a {
      font-size: 40px;
      line-height: 80px;
      display: block;
      width: 80px;
      height: 80px;
      color: white;
      border-radius: 100%; }
    section.contact ul.list-social li.social-twitter a {
      background-color: #1da1f2; }
      section.contact ul.list-social li.social-twitter a:hover {
        background-color: #0d95e8; }
    section.contact ul.list-social li.social-facebook a {
      background-color: #3b5998; }
      section.contact ul.list-social li.social-facebook a:hover {
        background-color: #344e86; }
    section.contact ul.list-social li.social-google-plus a {
      background-color: #dd4b39; }
      section.contact ul.list-social li.social-google-plus a:hover {
        background-color: #d73925; }

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539); }

.text-primary {
  color: #fdcc52; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52; }

/*.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }*/

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }
