.modal-content{
  width: 700px;
}
.CourseSelect{
    width: 90%;

}
.modal-dialog{
  max-width: 600px;
}
#op0cdatepicker,#opcdatepicker, #clscdatepicker{
  width: 200px;
}
#add-trData > .modal-dialog > .modal-content > .data-form-modal > .modal-body> *:nth-child(4){
  display:flex;
}
#add-trData > .modal-dialog > .modal-content > .data-form-modal > .modal-body *:nth-child(1n){
margin-bottom: 10px;
  position: relative;
}
#add-trData > .modal-dialog > .modal-content > .data-form-modal > .modal-body *:nth-child(5):nth-child(1){
  width: 400px;
}
.lf-input-group{
  width: 400px;
  display: flex;

}
.lf-btn-success{
    color: #fff;
    background-color: #5cb85c!important;
    border-color: #5cb85c!important;
}
.lf-btn-success:hover{
  color: #fff;
background-color: #449d44!important;
border-color: #419641!important;
}

 .datepicker-orient-bottom{
   top: 310px!important;
 }
.todo_std thead tr th{
  padding-left: 5px;
}
.shadow {
  -webkit-box-shadow:  2px 2px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:     2px 2px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:          2px 2px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.autocomplteAttendee:before{
  content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #999;
      border-top: 0;
      border-bottom-color: rgba(0,0,0,.2);
      position: absolute;
}
.autocomplteAttendee:after{
  content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    border-top: 0;
    position: absolute;
}
.autocomplteAttendee:before, .autocomplteAttendee:after{
  top: -7px;
}
.autocomplteAttendee:before, .autocomplteAttendee:after{
  left: 6px;
}
.autocomplteAttendee > ul >li{
    cursor: pointer;
    margin-top: 5px;
}
.autocomplteAttendee > ul {
    cursor: none;


}
.autocomplteAttendee >ul > li:hover{
      background-color: #ccc;
}
